{{ define "main" }}
<div class="mx-auto px-4 py-12">
  <h1 class="text-4xl font-extrabold text-gray-800 dark:text-gray-100 mb-8 text-center">{{ .Title }}</h1>
  <div class="mt-5 text-center text-lg font-semibold text-gray-700 dark:text-gray-200">
    <p>Total posts: {{ len .Site.RegularPages }}</p>
    <p class="text-sm text-gray-500 dark:text-gray-400 mt-2">Updated on {{ now.Format "January 2, 2006" }} | Showing the latest {{ len .Paginator.Pages }} posts</p>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 mt-8">
    {{ partial "postcard.html" . }}
  </div>  
  {{ if .Paginator }}
    <div class="mt-8">
      {{ partial "pagination.html" . }}
    </div>
  {{ end }}
</div>
{{ end }}