{{ define "main" }}
<div class="mx-auto px-4 py-12">
  <h1 class="text-4xl font-extrabold text-gray-800 dark:text-gray-100 mb-8 text-center">{{ .Title }}</h1>
  <div class="mt-5 text-center text-lg font-semibold text-gray-700 dark:text-gray-200">
    <p>Total posts: {{ len .Site.RegularPages }}</p>
    <p class="text-sm text-gray-500 dark:text-gray-400 mt-2">Updated on {{ now.Format "January 2, 2006" }} | Showing the latest {{ len (first 10 .Site.RegularPages) }} posts</p>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 mt-8">
    {{ range .Pages }}
      <div class="relative rounded-3xl overflow-hidden shadow-2xl bg-white dark:bg-gray-900 transform transition-all duration-300 hover:-translate-y-1 hover:shadow-3xl border-0 group">
        <a href="{{ .RelPermalink }}" class="block h-full">
          <div class="relative">
            {{ $defaultCover := "/tags_covers/story.jpg" }}
            <img class="w-full h-85 object-cover transition-transform duration-300 group-hover:scale-105" src="{{ cond (or (not .Params.cover) (eq .Params.cover "")) $defaultCover .Params.cover }}" alt="{{ .Title }}">
            <div class="absolute inset-0 transition-opacity duration-300 bg-gradient-to-t from-black/95 via-black/90 to-transparent"></div>
            <div class="absolute bottom-0 left-0 w-full h-full flex flex-col p-6 z-10">
              <div class="flex-grow"></div>
              {{ partial "title.html" . }}
              <p class="text-white text-lg mb-3 font-medium" style="text-shadow: 0 2px 12px #000, 0 1px 0 #000">{{ .Content | strings.Truncate 275 }}</p>
              <div class="flex flex-wrap gap-2 mt-2">
                {{ with .Params.tags }}
                  {{ $tags := . }}
                  {{ if not (reflect.IsSlice $tags) }}
                    {{ $tags = (slice $tags) }}
                  {{ end }}
                  {{ range $tags }}
                    <span class="inline-block bg-gray-200 dark:bg-gray-700 text-gray-800 dark:text-gray-100 text-xs px-2 py-1 rounded font-medium">
                      #{{ printf "%s%s" (upper (substr . 0 1)) (substr . 1) }}
                    </span>
                  {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
        </a>
      </div>
    {{ else }}
      <div class="text-gray-500">No articles found.</div>
    {{ end }}
  </div>  
  {{ partial "pagination.html" . }}
</div>
{{ end }}
